body {
    background: #f4f6f9;
    font-family: Arial, sans-serif;
}

.container {
    width: 60%;
    margin: auto;
    margin-top: 40px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 12px;
}

button {
    padding: 12px 20px;
    cursor: pointer;
}

.task-card {
    background: white;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.Pending {
    color: orange;
    font-weight: bold;
}

.Completed {
    color: green;
    font-weight: bold;
}